body{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
header{
    background-color: aqua;
    padding: 50px 100px 50px 100px;
    font-size: 70px;
}
section{
    display: inline;
}
.titulo{
    background-color: aquamarine;
    padding: 20px 0px 20px 200px;
    font-size: 25px;
    margin-top: 0%;
    margin-bottom: 0%;

}
.sec1{
    background-color: chartreuse;
}
.sec2{
    background-color: cornflowerblue;
}
footer{
    background-color: bisque;
    padding: 20px 0px 20px 400px;
    font-size: 32px;
}

#div2{
    border: 1px solid black;
}
